.root {
    width: 600px;
}
.tabs {
    display: flex;
}
.tabs>div {
    flex-grow: 1;
}
.contentInScroll {
    height: 716px !important;
}
.contentInScroll>div {
    scroll-behavior: smooth;
}
.scrollTrackVertical {
    right: 2px;
    bottom: 2px;
    top: 2px;
    background-color: #2F2F37;
    border-radius: 0;
    width: 8px !important;
}
.scrollThumbVertical {
    background-color: #8585AD;
    border-radius: 0;
}
.ingredients {
    display: grid;
    gap: calc(var(--offset-base-size) * 8) calc(var(--offset-base-size) * 4);
    grid-template-columns: repeat(2, 1fr);
}
.card {
    display: flex;
    min-height: 208px;
    position: relative;
    flex-direction: column;
    align-items: center;
    flex: auto;
    cursor: pointer;
}

.price {
    font-family: 'Iceland';
    font-size: 28px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.name {
    text-align: center;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.head {
    align-self: flex-start;
    line-height: 1.67em;
}
.description {
    display: flex;
    gap: 20px;
}
.description div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageCard {
    width: 480px;
}
