.fillings {
    position: relative;
}
.fillings>svg {
    position: absolute;
    left: 0;
    top: 37%;
}
.fillings div {
    max-width: 100%;
    margin-left: 32px;
    width: 536px;
}
.bunTopBottom div {
    max-width: 100%;
    width: 536px;
    margin: 0 16px 0 48px;
}