.wrapForm {
    display: flex;
    width: 430px;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}
.form {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.wrapForm a {
    color: #4C4CFF;
}

.profile {
    display: flex;
    width: 1280px;
    margin: 0 auto;
    margin-top: 180px;
    gap: 60px;
}
div[class="input__container"],
div[class="input pr-6 pl-6 input_type_email input_size_default"],
div[class="input pr-6 pl-6 input_type_email input_size_default input_status_active"],
div[class="input pr-6 pl-6 input_type_text input_size_default"],
div[class="input pr-6 pl-6 input_type_text input_size_default input_status_active"],
div[class="input pr-6 pl-6 input_type_password input_size_default"],
div[class="input pr-6 pl-6 input_type_password input_size_default input_status_active"] {
    width: 100%;
}
.wrapEditForm {
    display: flex;
    flex-direction: column;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 320px;
}

nav a {
    height: 64px;
    display: flex;
    align-items: center;
    color:#8585AD;
}

a[class="active"] { 
    color:#F2F2F3;
}

.buttons {
    display: flex;
    width: 100%;
}
.profileButton {
    flex-basis: 50%;
    text-align: center;
}

.buttonPrimary {
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: var(--common-border-radius);
    transition: var(--common-transition);

    color: var(--text-primary-color);
    background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);

    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    padding: 16px 40px;
}

.buttonPrimary:hover {
    box-shadow: 0px 0px 16px 8px rgb(51 51 255 / 25%), 0px 0px 8px 8px rgb(51 51 255 / 25%);
    filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
}

.buttonPrimary:active {
    opacity: 0.9;
}