.root {
    width: 600px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contentInScroll {
    height: 458px !important;
}
.scrollTrackVertical {
    right: 2px;
    bottom: 2px;
    top: 2px;
    background-color: #2F2F37;
    border-radius: 0;
    width: 8px !important;
}
.scrollThumbVertical {
    background-color: #8585AD;
    border-radius: 0;
}
.totalPrice {
    display:flex;
    justify-content: right;
    gap: 40px;
}
.price {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #F2F2F3;
}