.card {
    display: flex;
    min-height: 208px;
    position: relative;
    flex-direction: column;
    align-items: center;
    flex: auto;
    cursor: pointer;
}
.price {
    display: flex;
    align-items: center;
    gap: 4px;
}
.name {
    text-align: center;
}
a { color:#F2F2F3}